@mixin font {
  font-size: 20px;
  font-weight: 600;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  --border-color: #DDD; /* import 안해도 body안에서 모두 이 변수로 사용가능*/
  --item-height: 80px;
  background-image: linear-gradient(125deg, royalblue, brown);
  --button-color: linear-gradient(125deg, pink, lightblue);
  min-height: 100vh;
  padding: 70px 20px;
  box-sizing: border-box;
  color: #333;
  @include font
}
input{
  @include font
}